.Home{
    width: 50%;
    margin: auto;   
}

.Homeh2{
    color:azure ;
    padding: 2rem;
    font-size: 2vmax;
    background: rgb(36, 36, 36);
}

.Homeh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmax;
}

.Homeh1 a:link,a:visited{
    text-decoration: none;
    color: azure;
    background-color: rgb(36, 36, 36);
    padding:2rem;
    border-radius: 1rem; 
}

.Homeh1 a:hover{
    font-size: 4vmax;
    color: rgb(97, 219, 251);
}
