ul{
    display: flex;
    flex-wrap: wrap;
}

li{

    width: fit-content;
    border-radius: 1rem;
    border-width: 10px;
    padding: 1rem;
    margin: 1rem;
    border-color: rgb(97, 219, 251);
    background-color: rgb(36, 36, 36);
    color:azure;

}

.Comments{
    width: 20rem;
    
}