form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: azure;
}

fieldset{
    background-color: rgb(36, 36, 36);
    border-color: rgb(97, 219, 251);
    
}

legend{
    font-size: 1.5vmax;
    margin:1rem;
}

label{
    margin-right: 1rem;
}


.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Question{
    font-size: 1.3vmax;
    text-decoration:underline;
    text-decoration-color: rgb(97, 219, 251);
}

.textinput{
    font-size: 1vmax; 
    padding: 1rem;   
    background-color:rgb(36, 36, 36);
    border-radius: 1rem;
    border-color: rgb(97, 219, 251);
    color:azure;
}

.answer{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.submit{
    font-size: 1.5vmax;
    font-weight: bold;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    border-color: rgb(97, 219, 251);
    color: azure;
    background-color: rgb(36, 36, 36);
    transition-duration: 0.4s;
}

.submit:hover{
    color:rgb(97, 219, 251);
    background-color: azure;
}




